flows (1).json
[{"id":"fe02568e.ac3278","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa481df7.8c0a6","type":"ui_text","z":"fe02568e.ac3278","group":"35952948.ceb766","order":2,"width":0,"height":0,"name":"","label":"Predicition of alcohol consumption","format":"{{msg.payload}}","layout":"col-center","x":700,"y":160,"wires":[]},{"id":"ce82b401.4b74e8","type":"ui_form","z":"fe02568e.ac3278","name":"","label":"","group":"35952948.ceb766","order":1,"width":0,"height":0,"options":[{"label":"unemployment","value":"unemployment","type":"number","required":true},{"label":"Tax_Rate","value":"Tax_Rate","type":"number","required":true},{"label":"age","value":"age","type":"number","required":true}],"formValue":{"unemployment":"","Tax_Rate":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":280,"wires":[["a6f0b784.cd6788"]]},{"id":"a6f0b784.cd6788","type":"function","z":"fe02568e.ac3278","name":"parameters","func":"global.set(\"unemployment\",msg.payload.unemployment)\nglobal.set(\"Tax_Rate\",msg.payload.Tax_Rate)\nglobal.set(\"age\",msg.payload.age)\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["9af993e5.7c4f5","c640c70a.180bb8"]]},{"id":"9af993e5.7c4f5","type":"http request","z":"fe02568e.ac3278","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":230,"y":360,"wires":[["61c710bc.3a8ee","15e4a206.6bbf0e"]]},{"id":"61c710bc.3a8ee","type":"debug","z":"fe02568e.ac3278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":440,"wires":[]},{"id":"e8f3e427.b14208","type":"http request","z":"fe02568e.ac3278","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/26cace34-c0ee-4911-ad18-198877f3a632/deployments/26032a14-647b-459b-b072-881c8afeab1b/online","tls":"","proxy":"","authType":"basic","x":390,"y":120,"wires":[["5a4d73a7.9939bc","4d690c00.622154"]]},{"id":"5a4d73a7.9939bc","type":"debug","z":"fe02568e.ac3278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":60,"wires":[]},{"id":"4d690c00.622154","type":"function","z":"fe02568e.ac3278","name":"object","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["aa481df7.8c0a6"]]},{"id":"15e4a206.6bbf0e","type":"function","z":"fe02568e.ac3278","name":"prediction","func":"var token = msg.payload.token\nvar unemployment=global.get('unemployment')\nvar Tax_Rate=global.get('Tax_Rate')\nvar age=global.get('age')\nmsg.payload ={\"fields\":[\"unemployment\",\"Tax_Rate\",\"age\"],values:[[unemployment,Tax_Rate,age]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["e8f3e427.b14208","3ed0a9a1.a3f366"]]},{"id":"c640c70a.180bb8","type":"debug","z":"fe02568e.ac3278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":60,"wires":[]},{"id":"3ed0a9a1.a3f366","type":"debug","z":"fe02568e.ac3278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"35952948.ceb766","type":"ui_group","z":"","name":"Input Parameters","tab":"6446350e.8903ac","disp":true,"width":"6","collapse":false},{"id":"6446350e.8903ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]